
*.rar
/Client/__pycache__
report/report.synctex(busy)
report/report.fdb_latexmk
report/report.aux
report/report.fls
report/report.log
report/report.out
report/report.pdf
report/report.synctex.gz
report/report.toc
running.txt
*.txt
*.pdf
*.torrent
*.txt
active_client.dat
owner_file.dat
rfc_index.dat
