
*.rar
/Client/__pycache__
report/report.synctex(busy)
report/report.fdb_latexmk
report/report.aux
report/report.fls
report/report.log
report/report.out
report/report.synctex.gz
report/report.toc
*.txt
*.pdf
*.torrent
*.dat
